{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>

<body>
    <div style="background-color: #EEEEEE; min-height:100vh">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Tasks.me</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item d-lg-none">
                        <a class="nav-link" href="#" onclick="logOut()">Logout</a>
                    </li>
                    <!-- Search bar -->
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"
                            style="width: 300px;">
                        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </ul>
                <button class="btn btn-light my-2 my-sm-0 new-task-button collapsed-nav" type="button"
                    onclick="logOut()" style="margin-left: 30px;"><i
                        class="fa-solid fa-right-from-bracket"></i></button>
            </div>
        </nav>

        <div class="container-fluid">
            <h3 style="margin-top: 20px;">{{ current_user }}'s assigned tasks:</h3>
            {% for task in tasks %}
            <div class="container task-box" style="background-color: white;">
                <div>
                    <h3><b>{{ task.name }}</b> <span class="badge text-bg-secondary">{{ task.priority }}</span></h3>
                </div>
                <p style="font-size: 19px;">{{ task.desc }}</p>
                <p><i class="fa-regular fa-calendar">&nbsp;&nbsp;</i> Deadline : {{ task.date }} <i
                        class="fa-regular fa-clock" style="margin-left: 70px;"></i>&nbsp;&nbsp;{{ task.days_remaining }}
                    days <span style="margin-right: 70px;"></span> <i class="fa-solid fa-spinner"></i>&nbsp;&nbsp;Status
                    : {{ task.status }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
    <script>
        function logOut() {
            window.location.href = "{% url 'logout' %}";
        }
    </script>

    <!-- Bootstrap JS and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/ba6db2daaf.js" crossorigin="anonymous"></script>
</body>

</html>