<div class="container-fluid tile_box">
    <div class="container">
        <div class="row">
            {% for employee in employees %}
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="#" class="tile-link">
                    <div class="option-tile">
                        <h5 style="margin-bottom: 30px;">{{ employee.username }}</h5>
                        <i class="fas fa-3x fa-user"></i>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>